<div class="container">
    <h2 class="text-center">Add customer</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <mat-form-field>
              <input matInput placeholder="Id"
              type="number"
              name="id"
              formControlName="id">
          </mat-form-field>
          <br>
          <mat-form-field>
              <input matInput placeholder="Name"
              type="text"
              name="name"
              formControlName="name">
          </mat-form-field>
          <br>
          <mat-form-field>
              <input matInput placeholder="Code"
              type="email"
              name="code"
              formControlName="code">
          </mat-form-field>
          <br>
          <mat-form-field>
              <input matInput placeholder="Direccion"
              type="text"
              name="address"
              formControlName="address">
          </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Agregar</button>
    </form>
  </div>